

.card{
  width: 150px;
  height: 150px;
  position: relative;
  background-color: white;
  border: 1px solid black;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  perspective: 500px;
}

.card:active {
  transform: scale(0.95);
  transition: transform .5s;
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}


.front-face,
.back-face {
  position: absolute;
  backface-visibility: hidden;

}

.front-face {
  transform: rotateY(180deg);

}
